<script type="text/javascript">
    RED.nodes.registerType('{{ node.name }}', {
        category: '{{ node.category }}',
        color: '{{ node.color }}',
        defaults: {{ node.get_defaults() | json | safe}},

        //credentials: {
        //    username: {type: "text"},
        //    password: {type: "password"}
        //},
        inputs: 1,
        outputs: 1,
        outputLabels: ["parsed JSON object"],
        icon: '{{ node.icon }}',
        label: function () {
            return this.name || "{{ node.label }}";
        },
        paletteLabel: "{{ node.label }}",
        oneditprepare: function () {
            {% for param_name in node.parameter_list %}
                {% set param = node.parameters[param_name] %}
                {% if param.typed_input %}
                    $("#node-input-{{ param_name }}").typedInput({
                        type: "{{ param.type.value}}",
                        types: ["{{ param.type.value}}", "msg",],
                        typeField: "#node-input-{{ param_name + TYPED_INPUT_TYPE_SUFFIX }}"
                    });
                {% endif %}
            {% endfor %}
        }
    });
</script>

<script type="text/html" data-template-name="{{ node.name }}">

    <h3>Authentication:</h3>
    {#    <div class="form-row">#}
    {#        <label for="node-input-username"><i class="fa fa-tag"></i> Username</label>#}
    {#        <input type="text" id="node-input-username">#}
    {#    </div>#}
    {#    <div class="form-row">#}
    {#        <label for="node-input-password"><i class="fa fa-tag"></i> Password</label>#}
    {#        <input type="password" id="node-input-password">#}
    {#    </div>#}
    <hr>

    {% if node.parameter_list %}
        <h3>Request Params:</h3>
        {% for param_name in node.parameter_list %}
            {% set param = node.parameters[param_name] %}
            <div class="form-row">
                <label for="node-input-{{ param_name }}"><i class="fa fa-tag"></i> {{ param_name | title }}</label>
                {% if param.type.value == 'plain' %}
                    <input type="text" id="node-input-{{ param_name }}">
                {% elif param.type.value == 'text_editor' %}
                    <input type="text" id="node-input-{{ param_name }}">
                {% else %}
                    <input type="text" id="node-input-{{ param_name }}">
                    <input type="hidden" id="node-input-{{ param_name + TYPED_INPUT_TYPE_SUFFIX }}">

                {% endif %}
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    <h3>Node Params:</h3>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>


</script>


<script type="text/html" data-help-name="{{ node.name }}">
    <p>{{ node.description }}</p>
</script>

