<script type="text/javascript">
    RED.nodes.registerType('{{ node.name }}', {
        category: '{{ node.category }}',
        color: '{{ node.color }}',
        defaults: {{ node.get_defaults() | json | safe}},

        //credentials: {
        //    username: {type: "text"},
        //    password: {type: "password"}
        //},
        inputs: 1,
        outputs: 1,
        outputLabels: ["parsed JSON object"],
        icon: '{{ node.icon }}',
        label: function () {
            return this.name || "{{ node.label }}";
        },
        paletteLabel: "{{ node.label }}"
    });
</script>

<script type="text/html" data-template-name="{{ node.name }}">
    <h3>Node Name:</h3>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <hr>
    <h3>Authentication:</h3>
    {#    <div class="form-row">#}
    {#        <label for="node-input-username"><i class="fa fa-tag"></i> Username</label>#}
    {#        <input type="text" id="node-input-username">#}
    {#    </div>#}
    {#    <div class="form-row">#}
    {#        <label for="node-input-password"><i class="fa fa-tag"></i> Password</label>#}
    {#        <input type="password" id="node-input-password">#}
    {#    </div>#}
    <hr>
    <h3>Parameters:</h3>
    {% for param_name in node.parameter_list %}
        <div class="form-row">
            <label for="node-input-{{ param_name }}"><i class="fa fa-tag"></i> {{ param_name | title }}</label>
            <input type="text" id="node-input-{{ param_name }}">
        </div>
    {% endfor %}

</script>


<script type="text/html" data-help-name="{{ node.name }}">
    <p>{{ node.description }}</p>
</script>
